<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Rehab Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration_controller</display-name>
    <servlet-name>Registration_controller</servlet-name>
    <servlet-class>Registration.Registration_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration_controller</servlet-name>
    <url-pattern>/Registration_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordResetServlet</display-name>
    <servlet-name>PasswordResetServlet</servlet-name>
    <servlet-class>PasswordResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordResetServlet</servlet-name>
    <url-pattern>/PasswordResetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordResetConfirmationServlet</display-name>
    <servlet-name>PasswordResetConfirmationServlet</servlet-name>
    <servlet-class>Reset_Password.PasswordResetConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordResetConfirmationServlet</servlet-name>
    <url-pattern>/PasswordResetConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLoginServlet</display-name>
    <servlet-name>PatientLoginServlet</servlet-name>
    <servlet-class>Dashboard.PatientLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLoginServlet</servlet-name>
    <url-pattern>/PatientLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUploadServlet</display-name>
    <servlet-name>ImageUploadServlet</servlet-name>
    <servlet-class>Dashboard.ImageUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet</servlet-name>
    <url-pattern>/ImageUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramServlet</display-name>
    <servlet-name>ProgramServlet</servlet-name>
    <servlet-class>Dashboard.ProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramServlet</servlet-name>
    <url-pattern>/ProgramServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnrollInProgramServlet</display-name>
    <servlet-name>EnrollInProgramServlet</servlet-name>
    <servlet-class>ProgramEnrollment.EnrollInProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollInProgramServlet</servlet-name>
    <url-pattern>/EnrollInProgramServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookCounselingSessionServlet</display-name>
    <servlet-name>BookCounselingSessionServlet</servlet-name>
    <servlet-class>Counselling.BookCounselingSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCounselingSessionServlet</servlet-name>
    <url-pattern>/BookCounselingSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentServlet</display-name>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>Appointments.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnrolledProgram</display-name>
    <servlet-name>EnrolledProgram</servlet-name>
    <servlet-class>ProgramEnrollment.EnrolledProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrolledProgram</servlet-name>
    <url-pattern>/EnrolledProgram</url-pattern>
  </servlet-mapping>
</web-app>